@import (reference) "~ui/styles/mixins.less";

.time-vis {
  padding: 0;
  width: 100%;
}

.vis-editor {

  &.vis-type-markdown {

    .visualization-options {
      .flex-parent();
      flex: 1 1 auto;
    }

    .time-vis-options {
      .flex-parent();
      flex: 1 1 auto;

      textarea {
        flex: 1 1 auto;
        resize: none;
      }

    }

  }

}

.carousel-control {
  width: 40px;
}
.carousel {
  height: 100%;
}
.carousel-indicators {
  position: relative;
  top: 85%;
  bottom: 0px;
}
.carousel-indicators li {
  border: 1px solid black;
}
.carousel-indicators .active {
  background-color: black;
}

.ba-timeslider {
  stroke: #444444;
}
.ba-scaleline {
  stroke: #444444;
}
.ba-scalelabel {
  fill: #444444;
  font-size: 0.8em;
}
