<div class="form-group">
  <label>Show Quick Slide</label>
  <input type="checkbox" ng-model="vis.params.enable_quick" checked class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
  <label>Show Relative Slide</label>
  <input type="checkbox" ng-model="vis.params.enable_relative" checked class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
  <label>Show Absolut Slide</label>
  <input type="checkbox" ng-model="vis.params.enable_absolut" checked class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
  <label>Show Animation Slide</label>
  <input type="checkbox" ng-model="vis.params.enable_animation" checked class="ng-pristine ng-valid ng-touched">
</div>
