<div class="form-group">
  <label>
    <input type="checkbox" ng-model="vis.params.enable_quick" checked class="ng-pristine ng-valid ng-touched">
    Show Quick Slide
  </label>
</div>
<div class="form-group">
  <label>
    <input type="checkbox" ng-model="vis.params.enable_relative" checked class="ng-pristine ng-valid ng-touched">
    Show Relative Slide
  </label>
</div>
<div class="form-group">
  <label>
    <input type="checkbox" ng-model="vis.params.enable_absolut" checked class="ng-pristine ng-valid ng-touched">
    Show Absolut Slide
  </label>
</div>
<div class="form-group">
  <label>
    <input type="checkbox" ng-model="vis.params.enable_animation" checked class="ng-pristine ng-valid ng-touched">
    Show Animation Slide
  </label>
</div>
