<div class="form-group">
  <label>
    <input type="checkbox" ng-model="vis.params.enable_quick" checked class="ng-pristine ng-valid ng-touched">
    Show Quick Slide
  </label>
</div>
<div class="form-group">
  <label>
    <input type="checkbox" ng-model="vis.params.enable_relative" checked class="ng-pristine ng-valid ng-touched">
    Show Relative Slide
  </label>
</div>
<div class="form-group">
  <label>
    <input type="checkbox" ng-model="vis.params.enable_absolut" checked class="ng-pristine ng-valid ng-touched">
    Show Absolut Slide
  </label>
</div>
<div class="form-group">
  <label>
    <input type="checkbox" ng-model="vis.params.enable_animation" checked class="ng-pristine ng-valid ng-touched">
    Show Animation Slide
  </label>
</div>
<div ng-show="vis.params.enable_animation">
  <div class="form-group">
    <label>
      Animation frame delay (sec)
    </label>
    <input type="number" class="form-control"
      min="0"
      ng-model="vis.params.animation_frame_delay">
  </div>
</div>
