<div ng-controller="KbnTimeVisController" class="time-vis">
  <h3 ng-show="config.title">{{config.title}}</h3>
  
  <carousel interval="0">
      <slide active="activeSlide.quick">
        <h4 style="margin-top: 0px; margin-bottom: 2px;">
          <strong><i aria-hidden="true" class="fa fa-clock-o"></i> Quick</strong>
        </h4>
        <div>
          <select ng-model="selectedQuick" ng-options="option.display for option in quickLists" ng-change="setQuick(selectedQuick)"></select>
        </div>
      </slide>

      <slide active="activeSlide.relative">
        <h4 style="margin-top: 0px; margin-bottom: 2px;">
          <strong><i aria-hidden="true" class="fa fa-clock-o"></i> Relative</strong>
        </h4>
      </slide>

      <slide index="2" active="activeSlide.absolute">
        <h4 style="margin-top: 0px; margin-bottom: 2px;">
          <strong><i aria-hidden="true" class="fa fa-clock-o"></i> Absolute</strong>
        </h4>
        <form name="dashboardTime" ng-submit="updateKbnTime()">
          <div style="display: inline-block;">
            <label class="small">From: <span ng-show="!time.from"><i>Invalid Date</i></span>
            </label>
            <input type="text" required class="form-control" input-datetime="{{format}}" ng-model="time.from">
          </div>

          <div style="display: inline-block;">
            <label class="small">To: <span ng-show="!time.to"><i>Invalid Date</i></span>
            </label>
            <input type="text" required class="form-control" input-datetime="{{format}}" ng-model="time.to">
          </div>

          <div style="display: inline-block;">
            <button class="btn btn-primary" style="margin-bottom: 60px;" ng-disabled="time.from > time.to || !time.from || !time.to" type="submit">
              Go
            </button>
            <span class="small" ng-show="time.from > time.to"><strong>From</strong> must occur before <strong>To</strong></span>
          </div>
        </form>
      </slide>

      <slide>
        <h4 style="margin-top: 0px; margin-bottom: 2px;">
          <strong><i aria-hidden="true" class="fa fa-clock-o"></i> Time Animation</strong> 
          {{time.title}}
        </h4>
      </slide>
    </carousel>
  

</div>